[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
ccxt = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
