[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
ccxt = "*"
pandas = "*"
"python-telegram-bot[job-queue]" = "*"
lightgbm = "*"
scikit-learn = "*"
textblob = "*"
numpy = "*"
requests = "*"
statsmodels = "*"
optuna = "*"
shap = "*"
yfinance = "*"
feedparser = "*"
vaderSentiment = "*"
pandas-ta = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
