# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
dist/
build/
.ipynb_checkpoints/

# Node
node_modules/
npm-debug.log
yarn-error.log
.npm/

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
